<%# Renders a singular product called 'product' as a table row %>

<tr>
  <td>
    <%= link_to(image_tag(product.image, :class => 'list_image'),
                image_path(product.image),
                { :rel => "lightbox", :title => product.name } ) %>
  </td>
  <td class="list_description">
    <dl>
      <dt><%= product.name %></dt>
      <dd>
        <%= truncate(strip_tags(product.description), :length => 100) %>
      </dd>
    </dl>
  </td>
  <td><%= product.price %></td>
</tr>